@use "../../cssUtils" as cssUtils;

.openui-icon-tag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  flex-shrink: 0;
}

.openui-icon-tag--xs {
  width: 20px;
  height: 20px;
  border-radius: cssUtils.$radius-xs;

  & svg {
    width: 12px;
    height: 12px;
  }
}

.openui-icon-tag--s {
  width: 24px;
  height: 24px;
  border-radius: cssUtils.$radius-s;

  & svg {
    width: 14px;
    height: 14px;
  }
}

.openui-icon-tag--m {
  width: 32px;
  height: 32px;
  border-radius: cssUtils.$radius-s;

  & svg {
    width: 14px;
    height: 14px;
  }
}

.openui-icon-tag--l {
  width: 36px;
  height: 36px;
  border-radius: cssUtils.$radius-m;

  & svg {
    width: 16px;
    height: 16px;
  }
}

.openui-icon-tag--xl {
  width: 40px;
  height: 40px;
  border-radius: cssUtils.$radius-m;

  & svg {
    width: 16px;
    height: 16px;
  }
}

.openui-icon-tag--neutral {
  background-color: cssUtils.$highlight;
  color: cssUtils.$text-neutral-primary;
}

.openui-icon-tag--info {
  background-color: cssUtils.$info-background;
  color: cssUtils.$text-info-primary;
}

.openui-icon-tag--success {
  background-color: cssUtils.$success-background;
  color: cssUtils.$text-success-primary;
}

.openui-icon-tag--warning {
  background-color: cssUtils.$alert-background;
  color: cssUtils.$text-alert-primary;
}

.openui-icon-tag--danger {
  background-color: cssUtils.$danger-background;
  color: cssUtils.$text-danger-primary;
}

.openui-icon-tag--inverted {
  background-color: cssUtils.$inverted-background;
  color: cssUtils.$background;
}
