@use "../../cssUtils" as cssUtils;

.openui-copilot-shell-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: cssUtils.$space-m;
}

.openui-copilot-shell-header-logo-container {
  display: flex;
  align-items: center;
  gap: cssUtils.$space-s;
}

.openui-copilot-shell-header-logo {
  width: 32px;
  height: 32px;
  border-radius: cssUtils.$radius-m;
}

.openui-copilot-shell-header-agent-name {
  @include cssUtils.typography(label, small);
  color: cssUtils.$text-neutral-primary;
}

.openui-copilot-shell-header-actions,
.openui-copilot-shell-header-right-content {
  display: flex;
  align-items: center;
  gap: cssUtils.$space-s;
}
