@use "../../cssUtils" as cssUtils;

.openui-shell-thread-list {
  display: flex;
  flex-direction: column;
  gap: cssUtils.$space-3xs;
  overflow: auto;
  margin-top: cssUtils.$space-m;
}

.openui-shell-thread-list-group {
  display: flex;
  padding-left: cssUtils.$space-s;
  color: cssUtils.$text-neutral-tertiary;
  @include cssUtils.typography(label, small);
  margin-bottom: cssUtils.$space-2xs;

  .openui-shell-container--mobile & {
    @include cssUtils.typography(label, default);
  }

  &:not(:first-child) {
    margin-top: cssUtils.$space-m;
  }
}

.openui-shell-thread-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-radius: calc(cssUtils.$radius-s + 1px);
  border: 1px solid transparent;
  transition: all 0.12s ease;

  &--selected {
    background-color: cssUtils.$highlight;
  }

  &:hover {
    background-color: cssUtils.$highlight;
  }

  &:hover {
    .openui-shell-thread-button-dropdown-trigger {
      opacity: 1;
    }
  }

  &:has(.openui-shell-thread-button-dropdown-trigger[data-state="open"]) {
    background-color: cssUtils.$highlight;

    .openui-shell-thread-button-dropdown-trigger {
      opacity: 1;
    }
  }
}

.openui-shell-thread-button-title {
  @include cssUtils.button-reset;
  @include cssUtils.typography(body, small);
  color: cssUtils.$text-neutral-primary;
  padding: calc(cssUtils.$space-xs - 1.75px) cssUtils.$space-s;
  width: 100%;
  text-align: left;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  .openui-shell-container--mobile & {
    @include cssUtils.typography(body, default);
    padding: calc(cssUtils.$space-s - 1.75px) cssUtils.$space-s;
  }
}

.openui-shell-thread-button-dropdown-trigger {
  opacity: 0;

  .openui-shell-container--mobile & {
    opacity: 1;
  }

  &:focus-visible {
    opacity: 1;
  }

  &[data-state="open"] {
    opacity: 1;
    background-color: cssUtils.$highlight;
    border-color: cssUtils.$border-interactive;
  }
}

.openui-shell-thread-button-dropdown-menu {
  box-sizing: border-box;
  position: relative;
  z-index: 99999;
  min-width: 160px;
  overflow: hidden;
  border: 1px solid cssUtils.$border-default;
  border-radius: cssUtils.$radius-xl;
  background-color: cssUtils.$foreground;
  box-shadow: cssUtils.$shadow-m;
  color: cssUtils.$text-neutral-primary;
  transform-origin: top center;
  animation: openui-shell-thread-menu-show 0.18s ease-out forwards;
  padding: 4px;
}

.openui-shell-thread-button-dropdown-menu-item {
  width: 100%;
  justify-content: flex-start;
  padding-left: cssUtils.$space-s;
  padding-right: cssUtils.$space-s;

  &:focus,
  &:focus-visible {
    outline: none;
    box-shadow: none;
  }
}

@keyframes openui-shell-thread-menu-show {
  from {
    opacity: 0;
    transform: scale(0.95);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}
