.divider {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 2px;
  transform: rotate(180deg);
}

.bar {
  height: var(--bar-h-mobile);
  width: 100%;
  flex-shrink: 0;
  background: rgb(0 0 0 / 4%);
}

@media (min-width: 1024px) {
  .divider {
    gap: 6px;
  }

  .bar {
    height: var(--bar-h);
  }
}
