@use "../../../cssUtils" as cssUtils;

.openui-bottom-tray-thread-composer {
  box-sizing: border-box;
  flex-shrink: 0;
  width: 100%;
  margin: 0 0 cssUtils.$space-m;
  padding: 0 cssUtils.$space-m;

  &__input-wrapper {
    background-color: cssUtils.$foreground;
    border: 1px solid cssUtils.$border-interactive;
    border-radius: cssUtils.$radius-2xl;
    box-shadow: cssUtils.$shadow-m;
    overflow: clip;
    display: flex;
    flex-direction: column;
    gap: cssUtils.$space-s;
    padding: cssUtils.$space-s-m;
  }

  &__input {
    scrollbar-width: thin;
    scrollbar-color: cssUtils.$elevated transparent;

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: cssUtils.$elevated;
      border-radius: cssUtils.$radius-full;
    }

    padding: 0 cssUtils.$space-3xs;
    resize: none;
    max-height: 200px;
    outline: none;
    border: none;
    background: transparent;
    overflow-y: auto;
    @include cssUtils.typography(body, default);
    color: cssUtils.$text-neutral-primary;

    &::placeholder {
      color: cssUtils.$text-neutral-secondary;
    }
  }

  &__action-bar {
    display: flex;
    align-items: center;
  }

  &__submit-button {
    margin-left: auto;
  }
}
