@use "../../cssUtils" as cssUtils;

.openui-metric-indicator {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: cssUtils.$space-3xs;

  &--variant-inline {
    gap: 0;
  }

  &--has-subtext {
    gap: cssUtils.$space-3xs;
  }

  &__row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    gap: cssUtils.$space-xs;
    min-width: 0;
  }

  &--variant-inline &__row {
    align-items: baseline;
    gap: cssUtils.$space-2xs;
  }

  &__main-value {
    color: cssUtils.$text-neutral-primary;
    @include cssUtils.typography(number, heavy);
  }

  &__previous-value {
    color: cssUtils.$text-neutral-secondary;
    text-decoration: line-through;
    @include cssUtils.typography(number, small);
    margin-bottom: 1px;
  }

  &__subtext {
    color: cssUtils.$text-neutral-secondary;
    min-width: 0;
    @include cssUtils.typography(body, small);
  }

  &--variant-inline &__subtext {
    margin-top: 0;
  }

  &__trend {
    &--success {
      color: cssUtils.$text-success-primary;
    }

    &--danger {
      color: cssUtils.$text-danger-primary;
    }

    @include cssUtils.typography(number, small);
    margin-bottom: 1px;
  }
}
